font-family: 'Open Sans', sans-serif;



/* Inside Game */

.clickS{
}


.gamesid{
  background-image: url(images/bg.jpg);
}


.settings{
  width: 256px;
  height: 256px;
  cursor: pointer;
  border-radius: 128px;
  visibility: visible;
  margin-top: 66px;
  margin-left: 251px;
}

.main{
  visibility: hidden;
}


.Coins{
  background-color: gray;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

nav button{
  cursor: pointer;
}

.Builds button{
  background-color: #000000;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: white;
}

.Builds button:hover {
  background-color: #969696;
}
